@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* CLASSES */

.card {
  box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  max-width: 850px;
}

.image-logo {
  width: 200px;
}

.image-profile {
  width: 150px;
}

/* END CLASSES */

/* HEADER */

.jumbotron {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: royalblue;
  padding: 30px;
}

.jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.jumbotron-text h1 {
  font-size: 50px;
  line-height: 30px;
}

.jumbotron-text p {
  background-color: rgba(255, 240, 0);
  padding: 5px;
  border-radius: 5px;
  margin-top: -20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

header {
  display: inline;
}

nav {
  background-color: yellow;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: bold;
}

/* END HEADER */

/* MAIN */

main {
  display: flex;
  padding: 30px;
  justify-content: center;
  text-align: justify;
}

aside {
  margin-left: 30px;
}

.penulis header {
  text-align: center;
}

/* END MAIN */

/* FOOTER */

footer {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: royalblue;
  padding: 15px;
}

/* END FOOTER */
